@import "./variable";
.notice {
  margin-bottom:150px;
  .model-hover {
    &.notice-model-hover{
      width:192px;
      .cart{
        left:75%;
      }
      &.wid{
        width: 190px;
      }
    }
    display:none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index:1000;
    background: #fff;
    width:240px;
    border-radius:4px;
    padding:8px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
    .cart{
      position:absolute;
      left:50%;
      top:-7px;
      z-index:1000;
      width:15px;
    }
    .title{
      font-size: 14px;
      color: #333333;
      line-height: 22px;
      text-align: center;
      font-weight:bold;
    }
    .model-hover-counter{
      ul{
        li{
          text-align: left;
          padding-left:15px;
          margin-bottom:10px;
          .item-date{
            margin-left:-5px;
            strong{
              position:relative;
              left:-10px;
              top:2px;
            }
            font-size: 12px;
            color: #F5222D;
            line-height: 20px;
          }
          p{
            font-size: 12px;
            color: #333333;
            line-height: 20px;
          }
        }
      }
      p{
        line-height:20px;
        margin:0;
      }
      span{
        display: inline-block;
        width: 65px;
        font-size:12px;
      }
      em{
        display: inline-block;
        width: 70%;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 12px;
        color: #333333;
        line-height: 20px;
        overflow: visible;
        white-space: normal;
        vertical-align: top;
      }
    }
  }
  .form-line {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    .title {
      width: 22%;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
    }
    .content {
      width: 70%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }
  }
  .step-adder{
    width:96px;
  }
  .hover-menu{
    position:relative;
    line-height:32px;
    cursor:pointer;
    &:hover .model-hover{
      display:block;
    }
  }
  table {
    tbody tr{
      &.item-head{
        height:32px;
        background: #f5f5f5;
        border-top: 1px solid rgba(0, 0, 0, 0.09);
      }
      td {
        padding:10px 8px;
        border:none;
        overflow:visible;
        &.no-hidden{
          padding:0 8px;
          height:32px;
          line-height:32px;
          background: #f5f5f5;
          b{
            margin-left:15px;
            color: rgba(0,0,0,0.65);
            text-align: right;
            line-height: 22px;
            font-weight:normal;
          }
          a{
            strong{
              font-weight:bold;
            }
          }
        }
        p{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          span{
            font-size: 14px;
            color: rgba(0,0,0,0.45);
            line-height: 22px;
            em{
              color: rgba(0,0,0,0.65);
            }
          }
        }
      }
    }
  }
  table.notice-table.order-table{
    table-layout: auto;
    tr td, tr th{
      vertical-align: middle;
    }
    thead{
      tr{
        background: #F7FAFF !important;
        th{
          font-weight: normal;
          padding: 0 16px;
        }
      }
    }
    tbody{
      tr.en-info{
        background: #F5F5F5;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        height: 56px;
        td{
          .fl{
            >div{
            font-size: 14px;
            color: rgba(0,0,0,0.45);
            line-height: 22px;
              span{
                margin-right: 16px;
                i{
                  margin-left: 0;
                }
              }
            }
            &:last-child{
              margin-left: 175px;
              margin-top: 16px;
            }
          }
        }
      }
      tr.product{
        height: auto; 
        td{
          padding: 8px 16px;
          text-align: center;
          span.m24{
            margin-left: 24px;
          }
        }
      }
    }
  }
}