.order-change-list {
    line-height: 22px;
    .top-title {
      margin-bottom: 8px;
      color: #3597d5;
      background: #ffffff;
      width: 100%;
      padding-left: 16px;
      height: 40px;
      line-height: 40px;
      font-weight: bold;
    }
  }
  .order-change-table {
    .title-table {
      table-layout: fixed;
      tr td:first-child {
        padding: 0 0 0 86px;
      }
      tr td {
        padding: 0 16px;
      }
      width: 100%;
      background: #f7faff;
      height: 40px;
      line-height: 40px;
      color: rgba(0, 0, 0, 0.65);
      border-bottom: 1px solid #e8e8e8;
    }
    .content-table {
      table-layout: fixed;
      margin-bottom: 8px;
      width: 100%;
      color: rgba(0, 0, 0, 0.45);
      .orderDetail {
        p:first-child em {
          color: #3597d5;
          font-weight: 700;
          cursor: pointer;
        }
      }
      thead {
        background: #f5f5f5;
        border-bottom: 1px solid #e8e8e8;
      }
      tbody {
        tr {
          background: #ffffff;
          td {
            border-bottom: 1px solid #e8e8e8;
            border-right: 1px solid #f5f5f5;
            &:last-child {
              border-right: none;
              border-left: 1px solid #f5f5f5;
            }
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
          }
        }
      }
      thead tr td,
      tbody tr td {
        padding: 4px 16px 7px;
      }
      .operate-button {
        border: 1px solid #f5ba09;
        border-radius: 8px;
        color: #f5ba09;
        line-height: 28px;
        transform: rotate(-15deg);
        width: 96px;
        height: 28px;
      }
    }
  }
  .change-new {
    color: #db3725;
  }
  .change-old {
    text-decoration: line-through;
  }