.user-order {
  .order-list {
    li {
      height: 40px;
      line-height: 40px;
      background: #fff;
      padding: 0 16px;
      margin-top: 8px;
      .order-number {
        .account {
          color: #fff;
          margin-left: 8px;
          background: #3597D5;
          line-height: 20px;
          padding: 3px 8px;
          font-size: 12px;
        }
        a:hover {
          cursor: pointer ;
          color: #3597D5;
        }
      }
      .item {
        margin-right: 24px;
        i {
          vertical-align: middle;
        }
      }
    }
  }
}
