.product-modal {
  .insert {
    .fl, .fr {
      width: 50%;
    }
    .form-line {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      .title {
        width: 22%;
        text-align: right;
        display: inline-block;
        vertical-align: middle;
      }
      .content {
        width: 78%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        .base-input {
          width: 320px;
        }
        .date-input {
          width: 153px;
        }
        .price-level-input {
          width: 320px;
          background: rgba(0,0,0,0.02);
          border: 1px solid rgba(0,0,0,0.15);
          border-radius: 4px;
          .line {
            height: 32px;
            position: relative;
            .operate {
              position: absolute;
              right: -46px;
              top: 0;
              height: 32px;
              line-height: 32px;
              width: 38px;
              i {
                cursor: pointer;
                color: rgba(0, 0, 0, .65);
                &.icon-jian {
                  margin-right: 6px;
                }
              }
            }
            .item {
              width: 50%;
              display: inline-block;
              padding: 0 8px;
            }
            .level-input {
              $border: 1px solid rgba(0,0,0,0.15);
              outline: none;
              height: 32px;
              border: {
                top: $border;
                bottom: 0;
                left: 0;
                right: 0;
              }
              padding: 0;
              vertical-align: baseline;
              &:first-child {
                border-right: $border;
              }
              /deep/ .base-input {
                border: none;
                border-radius: 0;
                &[readonly] {
                  color: rgba(0,0,0,0.25);
                  cursor: default;
                  background: #fff !important;
                }
              }
            }
            &.line-title .item {
              line-height: 32px;
            }
          }
        }
        .error {
          position: absolute;
          left: 0;
          right: 0;
          color: rgba(245,34,45,1);
          padding: 0 16px;
          line-height: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      &.price-level-line .title {
        vertical-align: top;
      }
    }
  }
}
.currency-editor {
  padding: 24px 0;
  line-height: 22px;
  .remind {
    color: #D0021B;
    margin-top: 8px;
  }
}
