@import "./orderDetail";
@import "./variable";
.sample-detail {
  .order-table tr.product {
    height: 80px;
  }
  .apply-info {
    .apply-info-title {
      font-weight: bold;
      margin-bottom: 8px;
    }
    .content-line {
      padding: 0 8px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      .item {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .item-title {
          display: inline-block;
          width: 70px;
          vertical-align: top;
          color: $sub-text;
        }
      }
      &.full {
        .item {
          width: 100%;
          overflow: initial;
          word-break: break-all;
          white-space: pre-line;
          .item-content {
            width: 540px;
            display: inline-block;
          }
        }
      }
    }
  }
}
