/*
  买卖家工作台
*/
.work {
  .model {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.09);
    padding: 0 8px;
    margin-bottom: 8px;
    .title {
      height: 40px;
      line-height: 40px;
      padding: 0 8px;
      border-bottom: 1px solid rgba(0,0,0,0.15);
      font-size: 16px;
      color: #333;
      i {
        color: #fff;
        display: inline-block;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #F5A623;
        line-height: 22px;
        text-align: center;
        font-size: 14px;
        margin-right: 8px;
        position: relative;
        &::after {
          content: '';
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: transparent;
          border: 1px solid #F5A623;
          position: absolute;
          top: -2px;
          right: -2px;
        }
      }
      &.sample i {
        background: #7ED321;
        &::after {
          border-color: #7ED321;
        }
      }
      &.notice i{
        background: #1890FF;
        &::after {
          border-color: #1890FF;
        }
      }
    }
    ul {
      padding: 24px 40px;
      li {
        display: inline-block;
        margin-right: 160px;
        text-align: center;
        cursor: pointer;
        position: relative;
        i {
          position: absolute;
          right: -16px;
          top: -2px;
          width: 22px;
          height: 22px;
          line-height: 22px;
          text-align: center;
          border-radius: 50%;
          color: #fff;
          background: #F82E2E;
          &.statusOver {
            width: 36px;
            border-radius: 11px;
          }
        }
        img {
          width: 64px;
          height: 64px;
          margin-bottom: 4px;
        }
      }
    }
  }
}
